:root
{
    font-size: 62.5%;
}


*
{
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
}

body
{
    background-color: #fffefe;
}






/******** NavMenu *********/
nav
{
    padding: 0 9.6rem;
}

.nav-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-container ul
{
    display: flex;
    list-style: none;
    gap:2rem;
    font-size: 1.8rem;
}

.nav-container ul li a {
    text-decoration: none;
    color: #595858;
  }

.nav-container ul li a.active
{
    font-weight: 700;
    color: #474646;
}

.nav-container img
{
    width: 20rem;
}
.Identity
{
    font-size: 2.2rem;
    text-align: center;
    color: #595858;
}

.sub
{
    margin-top: 1rem;
    letter-spacing: .5rem;
    font-size: 1.2rem;
    font-weight: 400;
}

.social-media
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.6rem;
}

.social
{
    width: 3.2rem;
}

.hero
{
    display: flex;
    justify-content: center;
    min-width: 100%;
    height: auto;
    margin: 9.4rem 0;
}

.container
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 0 9.6rem;
}

.hero .container img
{
    max-width: 100%;
    height: auto;
}

.card
{
    position: relative;
}

.card-text
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: hsla(0, 1%, 17%, 0.856);
    opacity: 0;
    color: #fffefe;
    font-size: 1.4rem;
    text-align: center;
    transition: opacity .5s;
}

.card:hover .card-text
{
    opacity: 1;
    cursor: pointer;
}


.card-title
{
    font-size: 1.8rem;
    font-weight: 700;
}

footer
{
    padding: 3.2rem;
}


/*****  Contact Form  ******/

  
  .contact-form {
    width: 50rem;
    padding: 2rem;
    margin: 3rem auto;
    font-size: 1.4rem;

  }
  
  .contact-form h2 {
    text-align: center;
    margin: 2rem 0 4rem  0;
    font-size: 2rem;
    color: #474646;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: .5rem;
    color: #474646
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: .5rem;
    border: 1px solid #ccc;
    outline: none;
    resize: none;
    margin: 1rem 0;
  }
  
  textarea {
    height: 15rem;
  }
  
  .btn {
    background-color: #3f3e3e;
    color: white;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
  }

  .btn:hover
  {
    background-color: #474646;
  }
  